{
    "presets": [
        "@vue/babel-preset-jsx",
        "@babel/preset-env"
    ],
    "plugins":[[
        "component",
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        }
      ]]
}