.top-bar {
  width: auto;
  height: 32px;
  padding: 4px 8px;
  background: #FFFFFF;
  box-shadow: 0 3px 8px 0 rgba(51,51,51,0.30);
  border-radius: 2px;

  .font-menu {
    display: flex;
    align-items: center;
    height: 24px;
  }

  .font-item {
    background: #f7f7f7;
    border-radius: 2px;
  }

  .font-size-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98px;
    height: 100%;
    padding: 0 4px;

    .icon-btn {
      cursor: pointer;
    }

    .input-box {
      width: 42px;
      height: 20px;
    }
  }

  .font-style-box {
    display: flex;
    align-items: center;

    .font-style-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 100%;
      margin-left: 4px;
      background: #f7f7f7;
      border: 1px solid #f7f7f7;
      border-radius: 4px;
      cursor: pointer;
    }

    .font-style-item-active {
      border: 1px solid #037DF3;
      color: #037DF3;
      font-weight: bold;
    }
  }

  .font-color-box {
    width: 24px;
    height: 24px;
    padding: 1px;
    margin-left: 4px;
    border: 1px solid;

    .select-btn-box {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }
}

.input-box {
  input {
    height: 100% !important;
  }
}

.font-color-box {
  .select-btn-box .h-btn-ghost {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
  }
}