.scaleGroup {
  margin: 0 20px;
  display: flex;
  align-items: center;
  .h-icon{
    cursor: pointer;
  }
}
.single-button-wrap {
  width: 60px;
  height: 59px;
  text-align: center;
  img {
    width: 24px;
    height: 24px;
    margin-top: 9px;
  }
  object {
    width: 24px;
    height: 24px;
    margin-top: 9px;
  }
}
.single-button-wrap-normal {
  &:hover {
    background-color: #037DF3;
    color: #fff;
    cursor: pointer;
  }
  object {
    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}
.single-button-wrap-disabled {
  background: #FFFFFF;
  color: #CCCCCC;
  svg g polyline {
    color: red
  }
  &:hover {
    cursor: not-allowed;
  }
  object {
    &:hover {
      cursor: not-allowed;
    }
  }
}
/deep/ .el-dialog {
  width: 417px;
}