html, body {
  overflow-x: hidden;
}
.edit-wrap {
  background-color: #9d9c9c;
  height: 100%;
}
.edit-wrap-content {
  height: calc(100% - 45px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.edit-wrap-header {
  height: 45px;
  overflow: hidden;
  background-color: #fff ;
  display: flex;
  align-items: center;
  justify-content: center;
  > span{
    color: #fa7a36;
      position: absolute;
      right: 10px;
  }
}


.edit-panel-wrap {
  position: relative;
  margin: 0px auto;
  background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZAgMAAAC5h23wAAAAAXNSR0IB2cksfwAAAAlQTFRF9fX18PDwAAAABQ8/pgAAAAN0Uk5T/yIA41y2EwAAABhJREFUeJxjYIAC0VAQcGCQWgUCDUONBgDH8Fwzu33LswAAAABJRU5ErkJggg==');
}

// !#zh 控制缩放大小的圆点
.shape__scale-point {
  position: absolute;
  background: #fff;
  border: 1Px solid #fa7a36;
  width: 7Px;
  height: 7Px;
  z-index: 1;
  border-radius: 50%;
}

.shape__wrapper-active {
  // #bcbcbc
  outline: 1px solid #fa7a36 !important;
}
.shape__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.shape_rotation-point {
  position: absolute;
  top:0px;
  width: 7Px;
  left: 5Px;
  height: 7Px;
  border-radius: 50%;
  background-color: #fa7a36;;
  cursor: alias;
}
.shape_rotation-line {
  width: 1Px;
  height: 20Px;
  position: absolute;
  top: 7Px;
  left: 8Px;
  background: #fa7a36;
}
.shape_rotation-wrap {
  position: absolute;
  top: -25Px;
  height: 25Px;
  width: 15Px;
  left: 50%;
  margin-left: -5Px;
}
.icon-fa {
  position: absolute;
}
.icon-fa-del {
  left: 50%;
  margin-left: -12Px;
  top: -28Px;
}

.icon-fa-rotate {
  bottom: -28Px;
  left: 50%;
  margin-left: -12Px;
}

.icon-fa-scale {
  bottom: -20Px;
  right: -22Px;
}

// .tox-platform-touch {
//   height: 100px!important;
// }