#DB-SOURCE
spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    #MYSQL5的useSSL为false
    url: jdbc:mysql://172.18.34.203:63308/dzdp_30?useSSL=false&useUnicode=true&characterEncoding=UTF-8
    username: dzdp_30
    password: TXCG_20210928
    driver-class-name: com.mysql.jdbc.Driver
    hikari:
      minimum-idle: 5
      #<!-- 缺省值：10；计算公式：((core_count * 2) + effective_spindle_count) ，解释core_count：cpu 内核数， effective_spindle_count 硬盘挂载数量 -->
      maximum-pool-size: 15
      connection-test-query: SELECT 1
      auto-commit: true
      idle-timeout: 30000
      pool-name: MysqlHikariCP
      max-lifetime: 1800000
      connection-timeout: 30000
  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    password: 123456
    timeout: 360000

#LOGBACK CONFIG
logging:
  config: classpath:logback-spring.xml
  logback:
    rollingpolicy:
      max-file-size: 250MB
      max-history: 1
      total-size-cap: 1GB
      clean-history-on-start: true
  root:
    level: INFO
    path: ./logs

#FILE UPLOAD CONFIG
uploadPath:
  savePath: '/usr/local/webapp/server/upload/'  #图标存储路径
  urlPath: '/savePath/'  #图标的映射路径

#MYBATIS CONFIG
mybatis:
  mapperLocations: classpath:mapper/*.xml

#ZLB CONFIG
zlb:
  config:
    getUser: https://gzt.cgw.hangzhou.gov.cn/txcg/userauth-api/sysUser/getDetailByUserId
