
.v-line {
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  background-color: #94f5ff;
}

.h-line {
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  background-color: #94f5ff;
}