
  
    @font-face {
      font-family: 'longzhuti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/longzhuti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/龙珠体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'heicaoti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/heicaoti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/黑草体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'weibeijianti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/weibeijianti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/魏碑简体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'feiyunti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/feiyunti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/飞云体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'lishujianti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/lishujianti.ttf') format('truetype');
        
    }
  
    @font-face {
      font-family: 'jinshuti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/jinshuti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/锦书体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'ruimaobijianti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/ruimaobijianti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/锐毛笔简体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'jinzhuanheitijianti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/jinzhuanheitijianti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/金砖黑体简体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'longshoushuti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/longshoushuti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/龙手书体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'jingangti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/jingangti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/金刚体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'jinbuti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/jinbuti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/进步体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'xingshiti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/xingshiti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/醒狮体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'hangshujianti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/hangshujianti.ttf') format('truetype');
        
    }
  
    @font-face {
      font-family: 'hangshuti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/hangshuti.ttf') format('truetype');
        
    }
  
    @font-face {
      font-family: 'layanti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/layanti.ttf') format('truetype');
        
    }
  
    @font-face {
      font-family: 'mengheiti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/mengheiti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/蒙黑体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'xixianti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/xixianti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/细线体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'shenshiheiti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/shenshiheiti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/绅士黑体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'fanxinyuti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/fanxinyuti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/繁新语体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'fantifangzhuan';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/fantifangzhuan.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/繁体方篆.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'fumantangti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/fumantangti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/福满堂体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'wankuti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/wankuti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/玩酷体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'lanheiti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/lanheiti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/澜黑体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'chaoheiti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/chaoheiti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/潮黑体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'yuyangheiti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/yuyangheiti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/渔阳黑体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'pomoti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/pomoti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/泼墨体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'zhengyati';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/zhengyati.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/正雅体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'maobi0sejianti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/maobi0sejianti.ttf') format('truetype');
        
    }
  
    @font-face {
      font-family: 'puzhuoti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/puzhuoti.ttf') format('truetype');
        
    }
  
    @font-face {
      font-family: 'zhiheijianti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/zhiheijianti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/智黑简体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'wujiehei';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/wujiehei.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/无界黑.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'banmati';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/banmati.ttf') format('truetype');
        
    }
  
    @font-face {
      font-family: 'shuheiticu';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/shuheiticu.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/数黑体（粗）.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'zhuoshujianti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/zhuoshujianti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/拙书简体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'shoushujianti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/shoushujianti.ttf') format('truetype');
        
    }
  
    @font-face {
      font-family: 'biantaoti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/biantaoti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/扁桃体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'kuaikanshijieti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/kuaikanshijieti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/快看世界体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'deyihei';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/deyihei.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/得意黑.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'shaonianti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/shaonianti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/少年体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'zhaizaijiamaikebi';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/zhaizaijiamaikebi.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/宅在家麦克笔.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'zhaizaijiafentiaotian';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/zhaizaijiafentiaotian.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/宅在家粉條甜.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'xiachanwan';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/xiachanwan.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/夏蝉丸.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'guomiaohei';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/guomiaohei.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/国妙黑.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'heiheiti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/heiheiti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/嘿嘿体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'ge1ticu';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/ge1ticu.ttf') format('truetype');
        
    }
  
    @font-face {
      font-family: 'ge2ti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/ge2ti.ttf') format('truetype');
        
    }
  
    @font-face {
      font-family: 'hefengti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/hefengti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/和风体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'nananti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/nananti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/南安体.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'liliangtijianticu';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/liliangtijianticu.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/力量体简体（粗）.woff2') format('woff2');
    }
  
    @font-face {
      font-family: 'tijianti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/tijianti.ttf') format('truetype');
    
    }
  
    @font-face {
      font-family: 'weijunheiti';
      src:
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/online_ttf/weijunheiti.ttf') format('truetype'),
        url('//dzfont.oss-cn-hangzhou.aliyuncs.com/伟君黑体.woff2') format('woff2');
    }
  
