<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinghua.website.server.dao.ContentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qinghua.website.server.domain.ContentDTO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="channel_id" property="channelId" jdbcType="BIGINT"/>
        <result column="is_recommend" property="isRecommend" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="views_day" property="viewsDay" jdbcType="INTEGER"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>

        <association property="contentCheck" column="id"
                     javaType="com.qinghua.website.server.domain.ContentCheckDTO"
                     select="com.qinghua.website.server.dao.ContentCheckMapper.getContentCheckByContentId"  fetchType="lazy"/>

        <association property="contentExt" column="id"
                     javaType="com.qinghua.website.server.domain.ContentExtDTO"
                     select="com.qinghua.website.server.dao.ContentExtMapper.getContentExtByContentId" fetchType="lazy"/>

        <collection property="list" ofType="com.qinghua.website.server.domain.ContentAttachmentDTO"
                    column="id" select="com.qinghua.website.server.dao.ContentAttachmentMapper.getContentAttachmentByContentId"/>
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMapAPI" type="com.qinghua.website.server.domain.ContentDTO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="channel_id" property="channelId" jdbcType="BIGINT"/>
        <result column="is_recommend" property="isRecommend" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="views_day" property="viewsDay" jdbcType="INTEGER"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>

        <association property="contentCheck" column="id"
                     javaType="com.qinghua.website.server.domain.ContentCheckDTO"
                     select="com.qinghua.website.server.dao.ContentCheckMapper.getContentCheckByContentId"  fetchType="lazy"/>

        <association property="contentExt" column="id"
                     javaType="com.qinghua.website.server.domain.ContentExtDTO"
                     select="com.qinghua.website.server.dao.ContentExtMapper.getContentExtByContentIdAPI" fetchType="lazy"/>

        <collection property="list" ofType="com.qinghua.website.server.domain.ContentAttachmentDTO"
                    column="id" select="com.qinghua.website.server.dao.ContentAttachmentMapper.getContentAttachmentByContentId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        channel_id,
        is_recommend,
        status,
        views_day,
        create_time,
        update_time
    </sql>

    <!--  通过ID来获取对象 -->
    <select id="getContentById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT <include refid="Base_Column_List"/> FROM t_content WHERE  id =#{id}
    </select>

    <!-- APP文章详情查看 -->
    <select id="getContentByIDAPI" resultMap="BaseResultMapAPI" parameterType="java.lang.Long">
        SELECT <include refid="Base_Column_List"/> FROM t_content WHERE  id =#{id} and status = '2'
    </select>

    <!-- 通过实体来查询分页列表 -->
    <select id="getContentList" resultMap="BaseResultMap" parameterType="com.qinghua.website.server.domain.ContentDTO">
        SELECT <include refid="Base_Column_List"/> FROM t_content
        <trim prefix="where" prefixOverrides="AND || OR">
            <if test="channelId !=null">AND channel_id = #{channelId}</if>
            <if test="isRecommend !=null">AND is_recommend = #{isRecommend}</if>
            <if test="status !=null">AND status = #{status}</if>
            <if test="viewsDay !=null">AND views_day = #{viewsDay}</if>
        </trim>
        <trim prefix="ORDER BY ">
            <if test="sort !=null and sort != ''">
                #{sort}
            </if>
        </trim>
    </select>

    <!-- 根据ChannelId查询文章集合 -->
    <select id="getContentByChannelId" resultMap="BaseResultMap" parameterType="com.qinghua.website.server.domain.ContentDTO">
        SELECT <include refid="Base_Column_List"/> FROM t_content where channel_id = #{channelId}
        <trim prefix="ORDER BY ">
            <if test="sort !=null and sort != ''">
                #{sort}
            </if>
        </trim>
    </select>


    <!-- 根据ID删除 -->
    <delete id="deleteContentById" parameterType="java.lang.Long">
        DELETE FROM t_content WHERE id=#{id}
    </delete>

    <!-- 根据ID更新 -->
    <update id="updateContentById" parameterType="com.qinghua.website.server.domain.ContentDTO">
        UPDATE t_content
        <set>
            <if test="channelId !=null">channel_id = #{channelId},</if>
            <if test="isRecommend !=null">is_recommend = #{isRecommend},</if>
            <if test="status !=null">status = #{status},</if>
            <if test="viewsDay !=null">views_day = #{viewsDay},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <!--保存-->
    <insert id="saveContent" parameterType="com.qinghua.website.server.domain.ContentDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="channelId !=null">channel_id,</if>
            <if test="isRecommend !=null">is_recommend,</if>
            <if test="status !=null">status,</if>
            <if test="viewsDay !=null">views_day,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="channelId !=null">#{channelId},</if>
            <if test="isRecommend !=null">#{isRecommend},</if>
            <if test="status !=null">#{status},</if>
            <if test="viewsDay !=null">#{viewsDay},</if>
            NOW()
        </trim>
    </insert>

</mapper>
