<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinghua.website.server.dao.LogoInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qinghua.website.server.domain.LogoInfoDTO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="shops_id" property="shopsId" jdbcType="BIGINT"/>
        <result column="merchant_id" property="merchantId" jdbcType="BIGINT"/>
        <result column="logo_name" property="logoName" jdbcType="VARCHAR"/>
        <result column="logo_file_path" property="logoFilePath" jdbcType="VARCHAR"/>
        <result column="logo_file_name" property="logoFileName" jdbcType="VARCHAR"/>
        <result column="compress_flag" property="compressFlag" jdbcType="VARCHAR"/>
        <result column="url_path" property="urlPath" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        shops_id,
        merchant_id,
        logo_name,
        logo_file_path,
        logo_file_name,
        compress_flag,
        url_path,
        create_time,
        update_time
    </sql>

    <!--  通过ID来获取对象 -->
    <select id="getLogoInfoById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT <include refid="Base_Column_List"/> FROM t_logo_info WHERE  id =#{id}
    </select>

    <!-- 通过实体来查询分页列表 -->
    <select id="getLogoInfoList" resultMap="BaseResultMap" parameterType="com.qinghua.website.server.domain.LogoInfoDTO">
        SELECT <include refid="Base_Column_List"/> FROM t_logo_info
        <trim prefix="where" prefixOverrides="AND || OR">
            <if test="logoName !=null and logoName !=''">AND logo_name like concat('%', #{logoName}, '%')</if>
            <if test="shopsId !=null">AND shops_id = #{shopsId}</if>
        </trim>
        <trim prefix="ORDER BY ">
            <if test="sort !=null and sort != ''">
                #{sort}
            </if>
        </trim>
    </select>

    <!-- 根據商铺ID获取店招信息 -->
    <select id="getLogoInfoByShopsIdAPI" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM t_logo_info WHERE  shops_id =#{shopsId}
    </select>

    <!-- 根据ID删除 -->
    <delete id="deleteLogoInfoById" parameterType="java.lang.Long">
        DELETE FROM t_logo_info WHERE id=#{id}
    </delete>

    <!-- 根据ID更新 -->
    <update id="updateLogoInfoById" parameterType="com.qinghua.website.server.domain.LogoInfoDTO">
        UPDATE t_logo_info
        <set>
            <if test="shopsId !=null">shops_id = #{shopsId},</if>
            <if test="merchantId !=null">merchant_id = #{merchantId},</if>
            <if test="logoName !=null and logoName !=''">logo_name = #{logoName},</if>
            <if test="logoFilePath !=null and logoFilePath !=''">logo_file_path = #{logoFilePath},</if>
            <if test="logoFileName !=null and logoFileName !=''">logo_file_name = #{logoFileName},</if>
            <if test="logoFileName !=null and logoFileName !=''">compress_flag = '1',</if>
            <if test="urlPath !=null and urlPath !=''">url_path = #{urlPath},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <!--保存-->
    <insert id="saveLogoInfo" parameterType="com.qinghua.website.server.domain.LogoInfoDTO">
        INSERT INTO t_logo_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopsId !=null">shops_id,</if>
            <if test="merchantId !=null">merchant_id,</if>
            <if test="logoName !=null and logoName !=''">logo_name,</if>
            <if test="logoFilePath !=null and logoFilePath !=''">logo_file_path,</if>
            <if test="logoFileName !=null and logoFileName !=''">logo_file_name,</if>
            <if test="logoFileName !=null and logoFileName !=''">compress_flag,</if>
            <if test="urlPath !=null and urlPath !=''">url_path,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopsId !=null">#{shopsId},</if>
            <if test="merchantId !=null">#{merchantId},</if>
            <if test="logoName !=null and logoName !=''">#{logoName},</if>
            <if test="logoFilePath !=null and logoFilePath !=''">#{logoFilePath},</if>
            <if test="logoFileName !=null and logoFileName !=''">#{logoFileName},</if>
            <if test="logoFileName !=null and logoFileName !=''">'1',</if>
            <if test="urlPath !=null and urlPath !=''">#{urlPath},</if>
            NOW()
        </trim>
    </insert>

</mapper>
