<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinghua.website.server.dao.ShopsAttachmentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qinghua.website.server.domain.ShopsAttachmentDTO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="shops_id" property="shopsId" jdbcType="BIGINT"/>
        <result column="attachment_path" property="attachmentPath" jdbcType="VARCHAR"/>
        <result column="attachment_name" property="attachmentName" jdbcType="VARCHAR"/>
        <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        shops_id,
        attachment_path,
        attachment_name,
        file_name,
        create_time,
        update_time
    </sql>

    <!--  通过ID来获取对象 -->
    <select id="getShopsAttachmentById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT <include refid="Base_Column_List"/> FROM t_shops_attachment WHERE  id =#{id}
    </select>

    <!--  通过shops_id来获取对象 -->
    <select id="getShopsAttachmentByShopsId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT <include refid="Base_Column_List"/> FROM t_shops_attachment WHERE  shops_id =#{id}
    </select>

    <!-- 通过实体来查询分页列表 -->
    <select id="getShopsAttachmentList" resultMap="BaseResultMap" parameterType="com.qinghua.website.server.domain.ShopsAttachmentDTO">
        SELECT <include refid="Base_Column_List"/> FROM t_shops_attachment
        <trim prefix="where" prefixOverrides="AND || OR">
            <if test="shopsId !=null">AND shops_id = #{shopsId}</if>
        </trim>
        <trim prefix="ORDER BY ">
            <if test="sort !=null and sort != ''">
                #{sort}
            </if>
        </trim>
    </select>

    <!-- 通过附件名称查询 -->
    <select id="getShopsAttachmentByAttachmentName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM t_shops_attachment where attachment_name = #{attachmentName}
    </select>

    <!-- 根据ID删除 -->
    <delete id="deleteShopsAttachmentById" parameterType="java.lang.Long">
        DELETE FROM t_shops_attachment WHERE id=#{id}
    </delete>

    <!-- 根据ID更新 -->
    <update id="updateShopsAttachmentById" parameterType="com.qinghua.website.server.domain.ShopsAttachmentDTO">
        UPDATE t_shops_attachment
        <set>
            <if test="shopsId !=null">shops_id = #{shopsId},</if>
            <if test="attachmentPath !=null and attachmentPath !=''">attachment_path = #{attachmentPath},</if>
            <if test="attachmentName !=null and attachmentName !=''">attachment_name = #{attachmentName},</if>
            <if test="fileName !=null and fileName !=''">file_name = #{fileName},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <!--保存-->
    <insert id="saveShopsAttachment" parameterType="com.qinghua.website.server.domain.ShopsAttachmentDTO">
        INSERT INTO t_shops_attachment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopsId !=null">shops_id,</if>
            <if test="attachmentPath !=null and attachmentPath !=''">attachment_path,</if>
            <if test="attachmentName !=null and attachmentName !=''">attachment_name,</if>
            <if test="fileName !=null and fileName !=''">file_name,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopsId !=null">#{shopsId},</if>
            <if test="attachmentPath !=null and attachmentPath !=''">#{attachmentPath},</if>
            <if test="attachmentName !=null and attachmentName !=''">#{attachmentName},</if>
            <if test="fileName !=null and fileName !=''">#{fileName},</if>
            NOW()
        </trim>
    </insert>

    <!-- 根据附件名称删除 -->
    <delete id="deleteAttachmentByName" parameterType="java.lang.String">
        DELETE FROM t_shops_attachment WHERE attachment_name = #{attachmentName}
    </delete>

    <!-- 批量新增附件信息 -->
    <insert id="saveShopsAttachmentByList" parameterType="java.util.List">
        insert into t_shops_attachment (
            shops_id,
            attachment_path,
            attachment_name,
            file_name,
            create_time
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.shopsId},
                #{item.attachmentPath},
                #{item.attachmentName},
                #{item.fileName},
                NOW()
            )
        </foreach>
    </insert>

    <!-- 根据shopsId删除 -->
    <delete id="deleteShopsAttachmentByShopsId" parameterType="java.lang.Long">
        DELETE FROM t_shops_attachment WHERE shops_id = #{shopsId}
    </delete>

</mapper>
