<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinghua.website.server.dao.ShopsInfoMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.qinghua.website.server.domain.ShopsInfoDTO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="merchant_id" property="merchantId" jdbcType="BIGINT"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="address_detail" property="addressDetail" jdbcType="VARCHAR"/>
        <result column="biz_years" property="bizYears" jdbcType="VARCHAR"/>
        <result column="industry_type" property="industryType" jdbcType="VARCHAR"/>
        <result column="is_old_shops" property="isOldShops" jdbcType="VARCHAR"/>
        <result column="shops_type" property="shopsType" jdbcType="VARCHAR"/>
        <result column="is_filings" property="isFilings" jdbcType="VARCHAR"/>
        <result column="check_info" property="checkInfo" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="handled_by_name" property="handledByName" jdbcType="VARCHAR"/>
        <result column="handled_by_phone" property="handledByPhone" jdbcType="VARCHAR"/>
        <result column="handled_by_id_card" property="handledByIdCard" jdbcType="VARCHAR"/>
        <result column="handled_by_photo_front" property="handledByPhotoFront" jdbcType="VARCHAR"/>
        <result column="handled_by_photo_opposite" property="handledByPhotoOpposite" jdbcType="VARCHAR"/>
        <result column="handled_by_photo_front_compress" property="handledByPhotoFrontCompress" jdbcType="VARCHAR"/>
        <result column="handled_by_photo_opposite_compress" property="handledByPhotoOppositeCompress" jdbcType="VARCHAR"/>
        <result column="logo_width" property="logoWidth" jdbcType="DOUBLE"/>
        <result column="logo_height" property="logoHeight" jdbcType="DOUBLE"/>
        <result column="material" property="material" jdbcType="VARCHAR"/>
        <result column="logo_num" property="logoNum" jdbcType="INTEGER"/>
        <result column="logo_name" property="logoName" jdbcType="VARCHAR"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <collection property="list" ofType="com.qinghua.website.server.domain.ShopsAttachmentDTO"
            column="id" select="com.qinghua.website.server.dao.ShopsAttachmentMapper.getShopsAttachmentByShopsId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        merchant_id,
        shop_name,
        address,
        address_detail,
        biz_years,
        industry_type,
        is_old_shops,
        shops_type,
        is_filings,
        check_info,
        remark,
        handled_by_name,
        handled_by_phone,
        handled_by_id_card,
        handled_by_photo_front,
        handled_by_photo_opposite,
        handled_by_photo_front_compress,
        handled_by_photo_opposite_compress,
        logo_width,
        logo_height,
        material,
        logo_num,
        logo_name,
        create_time,
        update_time
    </sql>

    <!-- 优化查询 -->
    <sql id="Base_Column_List_Not_Have_IdCard">
        id,
        merchant_id,
        shop_name,
        address,
        address_detail,
        biz_years,
        industry_type,
        is_old_shops,
        shops_type,
        is_filings,
        check_info,
        remark,
        handled_by_name,
        handled_by_phone,
        handled_by_id_card,
        handled_by_photo_front_compress,
        handled_by_photo_opposite_compress,
        logo_width,
        logo_height,
        material,
        logo_num,
        logo_name,
        create_time,
        update_time
    </sql>

    <!-- 优化查询 -->
    <sql id="Base_Column_List_IdCard_Info">
        id,
        handled_by_photo_front,
        handled_by_photo_opposite
    </sql>

    <!--  通过ID来获取对象 -->
    <select id="getShopsInfoById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
            <include refid="Base_Column_List"/>
        FROM t_shops_info WHERE  id =#{id}
    </select>

    <!-- 根据ID查询身份证照片信息 -->
    <select id="getShopsIdCardByIdAPI" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List_IdCard_Info"/>
        FROM t_shops_info WHERE  id =#{id}
    </select>

    <!-- 通过实体来查询分页列表 -->
    <select id="getShopsInfoList" resultMap="BaseResultMap" parameterType="com.qinghua.website.server.domain.ShopsInfoDTO">
        SELECT
            <include refid="Base_Column_List"/>
        FROM t_shops_info
        <trim prefix="where" prefixOverrides="AND || OR">
            <if test="shopName !=null and shopName !=''">AND shop_name like concat('%',#{shopName},'%')</if>
            <if test="bizYears !=null and bizYears !=''">AND biz_years = #{bizYears}</if>
            <if test="industryType !=null and industryType !=''">AND industry_type = #{industryType}</if>
            <if test="isOldShops !=null and isOldShops !=''">AND is_old_shops = #{isOldShops}</if>
            <if test="shopsType !=null and shopsType !=''">AND shops_type = #{shopsType}</if>
            <if test="isFilings !=null and isFilings !=''">AND is_filings = #{isFilings}</if>
            <if test="handledByName !=null and handledByName !=''">AND handled_by_name = #{handledByName}</if>
            <if test="handledByPhone !=null and handledByPhone !=''">AND handled_by_phone = #{handledByPhone}</if>
            <if test="handledByIdCard !=null and handledByIdCard !=''">AND handled_by_id_card = #{handledByIdCard}</if>
            <if test="material !=null and material !=''">AND material = #{material}</if>
        </trim>
        <trim prefix="ORDER BY ">
            <if test="sort !=null and sort != ''">
                #{sort}
            </if>
        </trim>
    </select>

    <!-- 根据商户ID查询商铺信息集合 -->
    <select id="getShopsInfoByMerchantId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List_Not_Have_IdCard"/>
        FROM t_shops_info where merchant_id = #{merchantId}
    </select>

    <!-- 根据商铺ID查询身份证正反面照片 -->
    <select id="getShopsInfoByIdAPI" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_shops_info where id = #{shopsId}
    </select>

    <!-- 根据五要素查询 -->
    <select id="getShopsInfoByIndex" parameterType="com.qinghua.website.server.domain.ShopsInfoDTO" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_shops_info WHERE  merchant_id =#{merchantId} and shop_name =#{shopName} and address = #{address} and biz_years=#{bizYears} and industry_type = #{industryType}
    </select>

    <!-- 根据ID删除 -->
    <delete id="deleteShopsInfoById" parameterType="java.lang.Long">
        DELETE FROM t_shops_info
        WHERE id=#{id}
    </delete>

    <!-- 根据ID更新 -->
    <update id="updateShopsInfoById" parameterType="com.qinghua.website.server.domain.ShopsInfoDTO">
        UPDATE t_shops_info
        <set>
            <if test="merchantId !=null">merchant_id = #{merchantId},</if>
            <if test="shopName !=null and shopName !=''">shop_name = #{shopName},</if>
            <if test="address !=null and address !=''">address = #{address},</if>
            <if test="addressDetail !=null and addressDetail !=''">address_detail = #{addressDetail},</if>
            <if test="bizYears !=null and bizYears !=''">biz_years = #{bizYears},</if>
            <if test="industryType !=null and industryType !=''">industry_type = #{industryType},</if>
            <if test="isOldShops !=null and isOldShops !=''">is_old_shops = #{isOldShops},</if>
            <if test="shopsType !=null and shopsType !=''">shops_type = #{shopsType},</if>
            <if test="remark !=null and remark !=''">remark = #{remark},</if>
            <if test="handledByName !=null and handledByName !=''">handled_by_name = #{handledByName},</if>
            <if test="handledByPhone !=null and handledByPhone !=''">handled_by_phone = #{handledByPhone},</if>
            <if test="handledByIdCard !=null and handledByIdCard !=''">handled_by_id_card = #{handledByIdCard},</if>
            <if test="handledByPhotoFront !=null and handledByPhotoFront !=''">handled_by_photo_front = #{handledByPhotoFront},</if>
            <if test="handledByPhotoOpposite !=null and handledByPhotoOpposite !=''">handled_by_photo_opposite = #{handledByPhotoOpposite},</if>
            <if test="handledByPhotoFrontCompress !=null and handledByPhotoFrontCompress !=''">handled_by_photo_front_compress = #{handledByPhotoFrontCompress},</if>
            <if test="handledByPhotoOppositeCompress !=null and handledByPhotoOppositeCompress !=''">handled_by_photo_opposite_compress = #{handledByPhotoOppositeCompress},</if>
            <if test="logoWidth !=null">logo_width = #{logoWidth},</if>
            <if test="logoHeight !=null">logo_height = #{logoHeight},</if>
            <if test="material !=null and material !=''">material = #{material},</if>
            <if test="logoNum !=null">logo_num = #{logoNum},</if>
            <if test="logoName !=null and logoName !=''">logo_name = #{logoName},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <!-- 修改商铺备案状态 -->
    <update id="updateShopsFilingsStatusAPI" parameterType="com.qinghua.website.server.domain.ShopsInfoDTO" >
        UPDATE t_shops_info
        <set>
            is_filings = #{isFilings},
            check_info = #{checkInfo},
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <!--保存-->
    <insert id="saveShopsInfo" parameterType="com.qinghua.website.server.domain.ShopsInfoDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_shops_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="merchantId !=null">merchant_id,</if>
            <if test="shopName !=null and shopName !=''">shop_name,</if>
            <if test="address !=null and address !=''">address,</if>
            <if test="addressDetail !=null and addressDetail !=''">address_detail,</if>
            <if test="bizYears !=null and bizYears !=''">biz_years,</if>
            <if test="industryType !=null and industryType !=''">industry_type,</if>
            <if test="isOldShops !=null and isOldShops !=''">is_old_shops,</if>
            <if test="shopsType !=null and shopsType !=''">shops_type,</if>
            is_filings,
            <if test="remark !=null and remark !=''">remark,</if>
            <if test="handledByName !=null and handledByName !=''">handled_by_name,</if>
            <if test="handledByPhone !=null and handledByPhone !=''">handled_by_phone,</if>
            <if test="handledByIdCard !=null and handledByIdCard !=''">handled_by_id_card,</if>
            <if test="handledByPhotoFront !=null and handledByPhotoFront !=''">handled_by_photo_front,</if>
            <if test="handledByPhotoOpposite !=null and handledByPhotoOpposite !=''">handled_by_photo_opposite,</if>
            <if test="handledByPhotoFrontCompress !=null and handledByPhotoFrontCompress !=''">handled_by_photo_front_compress,</if>
            <if test="handledByPhotoOppositeCompress !=null and handledByPhotoOppositeCompress !=''">handled_by_photo_opposite_compress,</if>
            <if test="logoWidth !=null">logo_width,</if>
            <if test="logoHeight !=null">logo_height,</if>
            <if test="material !=null and material !=''">material,</if>
            <if test="logoNum !=null">logo_num,</if>
            <if test="logoName !=null and logoName !=''">logo_name,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="merchantId !=null">#{merchantId},</if>
            <if test="shopName !=null and shopName !=''">#{shopName},</if>
            <if test="address !=null and address !=''">#{address},</if>
            <if test="addressDetail !=null and addressDetail !=''">#{addressDetail},</if>
            <if test="bizYears !=null and bizYears !=''">#{bizYears},</if>
            <if test="industryType !=null and industryType !=''">#{industryType},</if>
            <if test="isOldShops !=null and isOldShops !=''">#{isOldShops},</if>
            <if test="shopsType !=null and shopsType !=''">#{shopsType},</if>
            '0',
            <if test="remark !=null and remark !=''">#{remark},</if>
            <if test="handledByName !=null and handledByName !=''">#{handledByName},</if>
            <if test="handledByPhone !=null and handledByPhone !=''">#{handledByPhone},</if>
            <if test="handledByIdCard !=null and handledByIdCard !=''">#{handledByIdCard},</if>
            <if test="handledByPhotoFront !=null and handledByPhotoFront !=''">#{handledByPhotoFront},</if>
            <if test="handledByPhotoOpposite !=null and handledByPhotoOpposite !=''">#{handledByPhotoOpposite},</if>
            <if test="handledByPhotoFrontCompress !=null and handledByPhotoFrontCompress !=''">#{handledByPhotoFrontCompress},</if>
            <if test="handledByPhotoOppositeCompress !=null and handledByPhotoOppositeCompress !=''">#{handledByPhotoOppositeCompress},</if>
            <if test="logoWidth !=null">#{logoWidth},</if>
            <if test="logoHeight !=null">#{logoHeight},</if>
            <if test="material !=null and material != ''">#{material},</if>
            <if test="logoNum !=null">#{logoNum},</if>
            <if test="logoName !=null and logoName != ''">#{logoName},</if>
            NOW()
        </trim>
    </insert>

</mapper>
