<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinghua.website.server.dao.SysUserMapper">

    <!-- 系统用户表 -->
    <resultMap id="BaseResultMap" type="com.qinghua.website.server.domain.SysUserDTO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="register_time" property="registerTime" jdbcType="TIMESTAMP"/>
        <result column="register_ip" property="registerIp" jdbcType="VARCHAR"/>
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP"/>
        <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR"/>
        <result column="login_count" property="loginCount" jdbcType="INTEGER"/>
        <result column="error_time" property="errorTime" jdbcType="VARCHAR"/>
        <result column="error_count" property="errorCount" jdbcType="INTEGER"/>
        <result column="error_ip" property="errorIp" jdbcType="VARCHAR"/>
        <result column="reset_key" property="resetKey" jdbcType="VARCHAR"/>
        <result column="error_count" property="errorCount" jdbcType="VARCHAR"/>
        <result column="reset_pwd" property="resetPwd" jdbcType="VARCHAR"/>
        <result column="activation" property="activation" jdbcType="VARCHAR"/>
        <result column="activation_code" property="activationCode" jdbcType="VARCHAR"/>
        <result column="is_admin" property="isAdmin" jdbcType="VARCHAR"/>
        <result column="is_disabled" property="isDisabled" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,	user_name, email,register_time, register_ip,last_login_time,last_login_ip, login_count,is_admin,is_disabled,error_count,error_ip,error_time create_time,update_time
    </sql>

    <!-- 根据ID查询管理员信息 -->
    <select id="getSysUser" resultMap="BaseResultMap" parameterType="com.qinghua.website.server.domain.SysUserDTO">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null and id !='' ">and id = #{id}</if>
        </trim>
    </select>

    <!-- 查询entity实体类信息集合 -->
    <select id="getSysUserList" resultMap="BaseResultMap" parameterType="com.qinghua.website.server.domain.SysUserDTO">
        SELECT <include refid="Base_Column_List" /> FROM t_sys_user
        <trim prefix="where" prefixOverrides="AND || OR">
            <if test="userName !=null and userName !=''">AND user_name = #{userName}</if>
            <if test="email !=null and email !=''">AND email = #{email}</if>
            <if test="isAdmin !=null and isAdmin !=''">AND is_admin = #{isAdmin}</if>
            <if test="isDisabled !=null and isDisabled !=''">AND is_disabled = #{isDisabled}</if>
        </trim>
        <trim prefix="ORDER BY ">
            create_time desc
        </trim>
    </select>

    <!-- 登录查询 -->
    <select id="login" resultMap="BaseResultMap" parameterType="com.qinghua.website.server.domain.SysUserDTO">
        SELECT <include refid="Base_Column_List" /> FROM t_sys_user where user_name = #{userName} and password = #{password}
    </select>

    <!-- 根据用户昵称检查用户是否存在 -->
    <select id="checkSysUserIsExist" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT <include refid="Base_Column_List" /> FROM t_sys_user where user_name = #{userName}
    </select>

    <!-- 根据用户昵称检查用户是否存在 -->
    <select id="getSysUserByNameAndPwd" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT <include refid="Base_Column_List" /> FROM t_sys_user where user_name = #{userName} and password = #{password}
    </select>

    <!-- 新增用户 -->
    <insert id="saveSysUser" parameterType="com.qinghua.website.server.domain.SysUserDTO">
        INSERT INTO t_sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName !=null and userName !='' ">user_name,</if>
            <if test="email !=null and email !=''">email,</if>
            <if test="password !=null and password != ''">password,</if>
            register_time,
            <if test="registerIp !=null and registerIp != ''">register_ip,</if>
            login_count,
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName !=null and userName !=''">#{userName},</if>
            <if test="email !=null and email !=''">#{email},</if>
            <if test="password !=null and password != ''">#{password},</if>
            NOW(),
            <if test="registerIp !=null and registerIp != ''">#{registerIp},</if>
            0,
            NOW()
        </trim>
    </insert>

    <!-- 更新登录相关操作 -->
    <update id="updateLoginSuccess" parameterType="com.qinghua.website.server.domain.SysUserDTO">
        UPDATE t_sys_user
        <set>
            <if test="lastLoginTime !=null">last_login_Time = #{lastLoginTime},</if>
            <if test="lastLoginIp !=null and lastLoginIp !='' ">last_login_ip = #{lastLoginIp},</if>
            <if test="loginCount !=null">login_count = #{loginCount},</if>
            error_count = 0,
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <!-- 更新登录相关操作 -->
    <update id="updateLoginFail" parameterType="com.qinghua.website.server.domain.SysUserDTO">
        UPDATE t_sys_user
        <set>
            <if test="lastLoginTime !=null">last_login_Time = #{lastLoginTime},</if>
            <if test="lastLoginIp !=null and lastLoginIp !='' ">last_login_ip = #{lastLoginIp},</if>
            <if test="loginCount !=null">login_count = #{loginCount},</if>
            <if test="errorCount !=null">error_count = #{errorCount},</if>
            <if test="errorTime !=null">error_time = #{errorTime},</if>
            <if test="errorIp !=null and errorIp != '' ">error_ip = #{errorIp},</if>
            <if test="isDisabled !=null and isDisabled != '' ">is_disabled = #{isDisabled},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <!-- 重置密码 -->
    <update id="resetPwd" parameterType="com.qinghua.website.server.domain.SysUserDTO">
        UPDATE t_sys_user
        <set>
            <if test="password !=null and password !='' ">password = #{password},</if>
            update_time = NOW()
        </set>
        WHERE user_name = #{userName}
    </update>

    <!-- 解除用户锁定状态 -->
    <update id="secureAccountLock" parameterType="com.qinghua.website.server.domain.SysUserDTO">
        UPDATE t_sys_user set is_disabled = '0',update_time = NOW() WHERE user_name = #{userName}
    </update>

    <!-- 修改系统用户信息 -->
    <update id="updateUser" parameterType="com.qinghua.website.server.domain.SysUserDTO">
        UPDATE t_sys_user
        <set>
            <if test="email !=null and email !='' ">email = #{email},</if>
            <if test="activation !=null and activation !='' ">activation = #{activation},</if>
            <if test="activationCode !=null and activationCode !='' ">activation_code = #{activationCode},</if>
            <if test="isAdmin !=null and isAdmin !='' ">is_admin = #{isAdmin},</if>
            <if test="isDisabled !=null and isDisabled !='' ">is_disabled = #{isDisabled},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <!-- 修改系统用户密码 -->
    <update id="changePwd" parameterType="com.qinghua.website.server.domain.SysUserDTO">
        UPDATE t_sys_user
        <set>
            <if test="password !=null and password !='' ">password = #{password},</if>
            update_time = NOW()
        </set>
        WHERE user_name = #{userName}
    </update>

    <!-- 改变用户禁用状态 -->
    <update id="lockSysUser" parameterType="com.qinghua.website.server.domain.SysUserDTO">
        UPDATE t_sys_user
        <set>
            <if test="isDisabled !=null and isDisabled !='' ">is_disabled = #{isDisabled},</if>
            update_time = NOW()
        </set>
        WHERE user_name = #{userName}
    </update>

</mapper>
