<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinghua.website.server.dao.SysUserMapper">

    <!-- 系统用户表 -->
    <resultMap id="BaseResultMap" type="com.qinghua.website.server.domain.SysUserDTO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="register_time" property="registerTime" jdbcType="TIMESTAMP"/>
        <result column="register_ip" property="registerIp" jdbcType="VARCHAR"/>
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP"/>
        <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR"/>
        <result column="login_count" property="loginCount" jdbcType="INTEGER"/>
        <result column="error_time" property="errorTime" jdbcType="VARCHAR"/>
        <result column="error_count" property="errorCount" jdbcType="INTEGER"/>
        <result column="error_ip" property="errorIp" jdbcType="VARCHAR"/>
        <result column="reset_key" property="resetKey" jdbcType="VARCHAR"/>
        <result column="error_count" property="errorCount" jdbcType="VARCHAR"/>
        <result column="reset_pwd" property="resetPwd" jdbcType="VARCHAR"/>
        <result column="activation" property="activation" jdbcType="VARCHAR"/>
        <result column="activation_code" property="activationCode" jdbcType="VARCHAR"/>
        <result column="is_admin" property="isAdmin" jdbcType="VARCHAR"/>
        <result column="is_disabled" property="isDisabled" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,	user_name, email,register_time, register_ip,last_login_time,last_login_ip, login_count,is_admin,is_disabled,error_count,error_ip,error_time create_time,update_time
    </sql>

    <!-- 查询entity实体类信息集合 -->
    <select id="getSysUserList" resultMap="BaseResultMap" parameterType="com.qinghua.website.server.domain.SysUserDTO">
        SELECT <include refid="Base_Column_List" /> FROM t_sys_user
        <trim prefix="where" prefixOverrides="AND || OR">
            <if test="userName !=null and userName !=''">AND user_name = #{userName}</if>
            <if test="email !=null and email !=''">AND email = #{email}</if>
            <if test="isAdmin !=null and isAdmin !=''">AND is_admin = #{isAdmin}</if>
            <if test="isDisabled !=null and isDisabled !=''">AND is_disabled = #{isDisabled}</if>
        </trim>
        <trim prefix="ORDER BY ">
            create_time desc
        </trim>
    </select>

    <!-- 登录查询 -->
    <select id="login" resultMap="BaseResultMap" parameterType="com.qinghua.website.server.domain.SysUserDTO">
        SELECT <include refid="Base_Column_List" /> FROM t_sys_user where user_name = #{userName} and password = #{password}
    </select>

    <!-- 根据用户昵称检查用户是否存在 -->
    <select id="checkSysUserIsExist" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT <include refid="Base_Column_List" /> FROM t_sys_user where user_name = #{userName}
    </select>

    <!-- 更新登录相关操作 -->
    <update id="updateLoginSuccess" parameterType="com.qinghua.website.server.domain.SysUserDTO">
        UPDATE t_sys_user
        <set>
            <if test="lastLoginTime !=null">last_login_Time = #{lastLoginTime},</if>
            <if test="lastLoginIp !=null and lastLoginIp !='' ">last_login_ip = #{lastLoginIp},</if>
            <if test="loginCount !=null">login_count = #{loginCount},</if>
            error_count = 0,
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <!-- 更新登录相关操作 -->
    <update id="updateLoginFail" parameterType="com.qinghua.website.server.domain.SysUserDTO">
        UPDATE t_sys_user
        <set>
            <if test="lastLoginTime !=null">last_login_Time = #{lastLoginTime},</if>
            <if test="lastLoginIp !=null and lastLoginIp !='' ">last_login_ip = #{lastLoginIp},</if>
            <if test="loginCount !=null">login_count = #{loginCount},</if>
            <if test="errorCount !=null">error_count = #{errorCount},</if>
            <if test="errorTime !=null">error_time = #{errorTime},</if>
            <if test="errorIp !=null and errorIp != '' ">error_ip = #{errorIp},</if>
            <if test="isDisabled !=null and isDisabled != '' ">is_disabled = #{isDisabled},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <!--<insert id="save" parameterType="com.zealdee.iot.iotwebservice.domain.EntityDTO">
        INSERT INTO t_entity_msg_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entityImei !=null and entityImei !='' ">entity_imei,</if>
            <if test="msgCode !=null and msgCode !=''">msg_code,</if>
            <if test="returnCode !=null and returnCode != ''">return_code,</if>
            <if test="expectStatus !=null and expectStatus != ''">expect_status,</if>
            <if test="entityType !=null and entityType != ''">entity_type,</if>
            <if test="systemCode !=null and systemCode != ''">system_code,</if>
            send_time,
            <if test="callbackUrl !=null and callbackUrl != ''">callback_url,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entityImei !=null and entityImei !=''">#{entityImei},</if>
            <if test="msgCode !=null and msgCode !=''">#{msgCode},</if>
            <if test="returnCode !=null and returnCode != ''">#{returnCode},</if>
            <if test="expectStatus !=null and expectStatus != ''">#{expectStatus},</if>
            <if test="entityType !=null and entityType != ''">#{entityType},</if>
            <if test="systemCode !=null and systemCode != ''">#{systemCode},</if>
            NOW(),
            <if test="callbackUrl !=null and callbackUrl != ''">#{callbackUrl},</if>
            NOW()
        </trim>
    </insert>-->



</mapper>
